<a href="https://colab.research.google.com/github/chuangchai49097/data_viz_2022/blob/main/BasicPython%26DataViz_midterm2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาใช้ข้อมูลจากตาราง confirmed_case.xlsx (จาก https://drive.google.com/drive/folders/1OmjM8ZgkEb10C4ZN44f-JxiBFaBwbWaM?usp=sharing) และข้อมูลจากตาราง
![image.png]()

ตอบคำถามต่อไปนี้ (โดยแสดงของการจัดภูมิภาคทั้ง 4 แบบ ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา และ การท่องเที่ยว)
**คะแนนเต็ม 100 คะแนน โดยคะแนน
Midterm คิดเป็น 30% ของคะแนนทั้งหมด**

เตรียมข้อมูล (20 คะแนน)

1. อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

2. เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

3. แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

4. สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัด (province of onset) (20 คะแนน)

5. สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละภูมิภาค (20 คะแนน)

มีอะไรสามารถโพสสอบถามได้ใน facebook group ภายใต้โพสของข้อสอบนี้

(คะแนน midterm เป็นคะแนนกลุ่ม)

## อัพโหลดข้อมูลจาก Drive

In [ ]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [ ]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/dataviz_2021_data'    # ชี้ dirve ที่เราต้องการ

Mounted at /content/drive

In [ ]:
data_file_path = os.path.join(path,'confirmed-cases.xlsx')   
data_covid = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [ ]:
data = data_covid

In [ ]:
display(data_covid.head(5),data_covid.tail(5))

   No. announce_date  ... province_of_onset district_of_onset
0    1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1    2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2    3    2020-01-22  ...            นครปฐม             เมือง
3    4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4    5    2020-01-24  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

           No. announce_date  ... province_of_onset district_of_onset
816984  816985    2021-08-11  ...           สระแก้ว           ตาพระยา
816985  816986    2021-08-11  ...           สระแก้ว           ตาพระยา
816986  816987    2021-08-11  ...           สระแก้ว        อรัญประเทศ
816987  816988    2021-08-11  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989    2021-08-11  ...   พระนครศรีอยุธยา             อุทัย

[5 rows x 11 columns]

In [ ]:
data_covid.head()

   No. announce_date  ... province_of_onset district_of_onset
0    1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1    2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2    3    2020-01-22  ...            นครปฐม             เมือง
3    4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4    5    2020-01-24  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

### หาค่า missing

In [ ]:
data_covid.isnull() #ตรวจสอบว่ามีเซลใดบ้างมีค่าNaN

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
816984  False          False  ...              False              False
816985  False          False  ...              False              False
816986  False          False  ...              False              False
816987  False          False  ...              False              False
816988  False          False  ...              False              False

[816989 rows x 11 columns]

In [ ]:
data_covid.isnull().any() #ตรวจสอบว่ามีฟิลด์ใดบ้างที่มีค่าNaN

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [ ]:
data_covid.isnull().sum() #จำนวนค่าNaN ในแต่ละฟิลด์

No.                           0
announce_date                 0
Notified date              2795
sex                       53005
age                       74778
Unit                      74637
nationality               82076
province_of_isolation       272
risk                       1094
province_of_onset         97112
district_of_onset        155300
dtype: int64

## Data preparation(เตรียมข้อมูล)

In [ ]:
data = data_covid
data

           No. announce_date  ... province_of_onset district_of_onset
0            1    2020-01-12  ...     กรุงเทพมหานคร               NaN
1            2    2020-01-17  ...     กรุงเทพมหานคร               NaN
2            3    2020-01-22  ...            นครปฐม             เมือง
3            4    2020-01-22  ...     กรุงเทพมหานคร               NaN
4            5    2020-01-24  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985    2021-08-11  ...           สระแก้ว           ตาพระยา
816985  816986    2021-08-11  ...           สระแก้ว           ตาพระยา
816986  816987    2021-08-11  ...           สระแก้ว        อรัญประเทศ
816987  816988    2021-08-11  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989    2021-08-11  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [ ]:
data.index

RangeIndex(start=0, stop=816989, step=1)

In [ ]:
data.columns

Index(['No.', 'announce_date', 'Notified date', 'sex', 'age', 'Unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset'],
      dtype='object')

**1.ลบฟิวด์ Notified date เพราะไม่ได้ใช้**

In [ ]:
data.drop(['Notified date'],axis=1, inplace = True)

In [ ]:
data

           No. announce_date  ... province_of_onset  district_of_onset
0            1    2020-01-12  ...     กรุงเทพมหานคร                NaN
1            2    2020-01-17  ...     กรุงเทพมหานคร                NaN
2            3    2020-01-22  ...            นครปฐม              เมือง
3            4    2020-01-22  ...     กรุงเทพมหานคร                NaN
4            5    2020-01-24  ...     กรุงเทพมหานคร                NaN
...        ...           ...  ...               ...                ...
816984  816985    2021-08-11  ...           สระแก้ว            ตาพระยา
816985  816986    2021-08-11  ...           สระแก้ว            ตาพระยา
816986  816987    2021-08-11  ...           สระแก้ว         อรัญประเทศ
816987  816988    2021-08-11  ...     กรุงเทพมหานคร        บางขุนเทียน
816988  816989    2021-08-11  ...   พระนครศรีอยุธยา              อุทัย

[816989 rows x 10 columns]

**2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ**

In [ ]:
data[['age']].mean() #หาค่าเฉลี่ยของอายุ

age    35.67704
dtype: float64

In [ ]:
avg_age = data[['age']].mean()  # แทนค่าเฉลี่ยของอายุลงในค่าวาง

In [ ]:
data[['age']] = data[['age']].fillna(avg_age)

In [ ]:
data.isnull().sum() # พบว่าอายุ ไม่พบค่า NaNแล้ว แสดงว่าผ่าน

No.                           0
announce_date                 0
sex                       53005
age                           0
Unit                      74637
nationality               82076
province_of_isolation       272
risk                       1094
province_of_onset         97112
district_of_onset        155300
dtype: int64

In [ ]:
data.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
816984  False          False  ...              False              False
816985  False          False  ...              False              False
816986  False          False  ...              False              False
816987  False          False  ...              False              False
816988  False          False  ...              False              False

[816989 rows x 10 columns]

In [ ]:
data.iloc[4400]

No.                                     4401
announce_date            2020-12-20 00:00:00
sex                                      NaN
age                                 35.67704
Unit                                     NaN
nationality                            Burma
province_of_isolation              สมุทรสาคร
risk                       Cluster สมุทรสาคร
province_of_onset                  สมุทรสาคร
district_of_onset                      เมือง
Name: 4400, dtype: object

**3.เปลี่ยน ข้อมูลในฟิวด์ Sex และ Unit ที่มีค่าเป็น NaN ให้เป็น คำว่า "ไม่มีข้อมูล"**

In [ ]:
data[['sex']] = data[['sex']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['sex']) #เรียกดูชุดข้อมูล

{'ชาย', 'นาย', 'หญิง', 'ไม่มีข้อมูล'}

In [ ]:
data[['Unit']] = data[['Unit']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['Unit']) #เรียกดูชุดข้อมูล

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน', 'ไม่มีข้อมูล'}

In [ ]:
data.isnull().any()

No.                      False
announce_date            False
sex                      False
age                      False
Unit                     False
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

**4.เปลี่ยน ข้อมูลในฟิวด์ nationality ที่มีค่าเป็น NaN ให้เป็น คำว่า "ไม่มีข้อมูล"**

In [ ]:
data.iloc[590]

No.                                                              591
announce_date                                    2020-03-22 00:00:00
sex                                                             หญิง
age                                                             20.0
Unit                                                              ปี
nationality                                                      NaN
province_of_isolation                                  กรุงเทพมหานคร
risk                     สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
province_of_onset                                                NaN
district_of_onset                                                NaN
Name: 590, dtype: object

In [ ]:
data[['nationality']] = data[['nationality']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['nationality']) #เรียกดูชุดข้อมูล

{'Afghan / Afghani',
 'Afghanistan',
 'African',
 'Albania',
 'Algeria',
 'Algerian',
 'American',
 'American ',
 'American Samoa',
 'Americans',
 'Argentina',
 'Argentine',
 'Armenia',
 'Australia',
 'Australian',
 'Austria',
 'Austrian',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Bangladeshi',
 'Belarus',
 'Belgian',
 'Belgium',
 'Bermuda',
 'Brazil',
 'Brazilian',
 'British',
 'British / English',
 'Brunei',
 'Bulgaria',
 'Burma',
 'Burmese',
 'Cambodia',
 'Cambodian',
 'Cameroon',
 'Canada',
 'Canadian',
 'China',
 'Chinese',
 'Colombia',
 'Colombian',
 'Congo (Brazzaville)',
 "Cote D'Ivoire",
 'Croatia',
 'Cuba',
 'Czech',
 'Czechia',
 'Danish',
 'Denmark',
 'Dominican Republic',
 'Dutch',
 'Egypt',
 'Egyptian',
 'Emirati',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Filipino',
 'Finland',
 'Finnish',
 'France',
 'French',
 'French Guiana',
 'Gambia',
 'Gambia, The',
 'German',
 'Germany',
 'Ghana',
 'Ghanaian',
 'Greece',
 'Greek',
 'Guinea',
 'Guinean',
 'Guyana',
 'Guyanese',
 'Haitian',
 'Hong Kong',
 'Hungarian',
 'Hungary',
 'IRISH',
 'Iceland',
 'Icelandic',
 'India',
 'India-Thailand',
 'Indian',
 'Indonesia',
 'Indonesian',
 'Iran',
 'Iranian',
 'Iraq',
 'Iraqi',
 'Ireland',
 'Irish',
 'Israel',
 'Israeli',
 'Italian',
 'Italy',
 'Ivorian',
 'Japan',
 'Japanese',
 'Jordan',
 'Jordanian',
 'Kazakh / Kazakhstani',
 'Kazakhstan',
 'Kenya',
 'Kenyan',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kuwaiti',
 'Kyrgyzstan',
 'L',
 'Lao',
 'Laos',
 'Laotian',
 'Laotian / Lao',
 'Laotian/Lao',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malawi',
 'Malaysia',
 'Malaysian',
 'Maldives',
 'Maldivian',
 'Mali',
 'Malian',
 'Malta',
 'Mauritians',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Mongolian',
 'Moroccan',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Nepalese / Nepali',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'Nigerian',
 'North Korean',
 'Norway',
 'Norwegian',
 'Oatari',
 'Oman',
 'Other',
 'Pakistan',
 'Pakistani',
 'Palestine',
 'Palestinian',
 'Philippines',
 'Poland',
 'Polish',
 'Portugal',
 'Portuguese',
 'Qatar',
 'Romania',
 'Romanian',
 'Russia',
 'Russian',
 'Senegal',
 'Serbia',
 'Serbian',
 'Sierra Leone',
 'Singapore',
 'Singaporean',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South African',
 'South Korean',
 'Spain',
 'Spanish',
 'Sri Lanka',
 'Sri Lankan',
 'Sudan',
 'Sweden',
 'Swedish',
 'Swiss',
 'Switzerland',
 'Syria',
 'Syrian',
 'Taiwan',
 'Taiwanese',
 'Tajikistan',
 'Tanzania',
 'Tanzanian',
 'Thai',
 'Thailand',
 'Timor-Leste',
 'Timorese',
 'Tunisia',
 'Turkey',
 'Turkish',
 'Uganda',
 'Ugandan',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States of America',
 'Uzbek',
 'Uzbekistan',
 'Venezuelan',
 'Vietnam',
 'Vietnamese',
 'Yemen',
 'Yemeni / Yemenite',
 'Zimbabwe',
 'burma',
 'burmese',
 'cambodian',
 'canadian',
 'china',
 'chinese',
 'congo',
 'deutsch',
 'france',
 'india',
 'indian',
 'iranian',
 'japan',
 'laos',
 'laotian / Lao',
 'pakistani',
 'taiwan',
 'yemen',
 'กัมพูชา',
 'จีน',
 'ต่างด้าว',
 'บราซิล',
 'พม่า',
 'ลาว',
 'อเมริกา',
 'ไทยใหญ่',
 'ไทใหญ่',
 'ไนจีเรีย',
 'ไม่มีข้อมูล',
 'ไม่มีสัญชาติ'}

**5.เปลี่ยน ข้อมูลในฟิวด์ province_of_isolation ที่มีค่าเป็น NaN ให้เป็น คำว่า "ไม่มีข้อมูล"**

In [ ]:
data_covid[['province_of_isolation']] = data_covid[['province_of_isolation']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['province_of_isolation']) #เรียกดูชุดข้อมูล

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่มีข้อมูล'}

**6.เปลี่ยน ข้อมูลในฟิวด์ risk,province_of_onset และ district_of_onset ที่มีค่าเป็น NaN ให้เป็น คำว่า "ไม่มีข้อมูล"**

In [ ]:
data_covid[['risk']] = data_covid[['risk']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['risk']) #เรียกดูชุดข้อมูล

{' Samui plus',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'SHUI',
 'Samui plus',
 'Sandbox',
 'State Quarantine',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ทัณฑสถาน/เรือนจำ',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'ระหว่างสอบสวน',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อ',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อยู่ระหว่างการสอบสวน\n',
 'อยู่ระหว่างสอบสวน',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อิ่นๆ',
 'อื่น',
 'อื่น ๆ',
 'อื่นๆ',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น',
 'ไม่มีข้อมูล'}

In [ ]:
data_covid[['province_of_onset']] = data_covid[['province_of_onset']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['province_of_onset']) #เรียกดูชุดข้อมูล

{'\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่่น',
 'ขัยนาท',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ชุุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปบม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสวรรค์',
 'นตรปฐม',
 'นนทบุรี',
 'นราธิวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'บางกะปิ',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บ้านหลวง',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานีี',
 'ปทุุมธานี',
 'ปมุมธานี',
 'ประจวบคีรีขันธ์',
 'ประจวบฯ',
 'ปราจีนบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปัตตานี',
 'ปัว',
 'ปุทมธานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณูโลก',
 'ภูเก็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลอง',
 'ลาดพร้าว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังชิ้น',
 'ศรีษะเกษ',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สมถทรปราการ',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทราปราการ',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุุทรปราการ',
 'สมุุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สอง',
 'สองแคว',
 'สะแก้ว',
 'สารภี',
 'สิงห์บุรี',
 'สุทรปราการ',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี',
 'สุราษฏร์ธานี',
 'สุรินทร์',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุโขทัย',
 'สูงเม่น',
 'หนองคาย',
 'หนองบัวลำภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุดรธานีี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่างทอง',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เด่นชัย',
 'เพชรบุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เมือง',
 'เมืองน่าน',
 'เรือ',
 'เลย',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'ไม่มีข้อมูล',
 'ไม่ระบุ'}

In [ ]:
data_covid[['district_of_onset']] = data_covid[['district_of_onset']].fillna('ไม่มีข้อมูล')

In [ ]:
set(data['district_of_onset']) #เรียกดูชุดข้อมูล

{'ด่านฃุนทด',
 'สันป่าตอง',
 'พระสุมทรเจดีย์',
 'พระนครศรีอยุทธยา',
 'กระทุ่มแบน/สมุทรสาคร',
 'จักราช',
 'แก่งดอย',
 'ร่องคำ',
 'แม่ทา',
 'พระสมุดเจดีย์',
 'บางใหญ่',
 'ลำลูกา',
 'ราชเทวีี',
 'ยุขันธ์',
 '\xa0เขตหนองจอก',
 'บ่อเกลือ',
 'จอมทอง กรุงเทพมหานคร',
 'มวกเหล็ก',
 'น้ำเกลี้ยง',
 'เซกา',
 'บ้านหมี่',
 'องรักษ์',
 'อ.เขาย้อย',
 'ทุ่่งครุ',
 'พุนม',
 'ปมุมวัน',
 'ท่าศาลา/หัวไทร',
 'พระสมุุทรเจดีย์',
 'เที่ยงแท้',
 'เขตพระโขนง',
 'ภูกามยาว',
 'ตระกาลพืชผล',
 'วารินชำราญ',
 'หนองฮี',
 'หล่มเก่า',
 'หนองกรุุงศรี',
 'พิชัย (เขตบางขุนเทียน)',
 'ลำลููกกา',
 'บุรีรัมย์',
 'เวีียงหนองล่อง',
 'ปานาเระ',
 'เพชรเกษม',
 'ลาดบูรณะ',
 'มะขามคู่',
 'ป่ามอน',
 'ท่าม่วง',
 'คอนเบียง',
 'วังโป้ง',
 'มนทองคะ',
 'บำเหน็จนรงค์',
 'คอหงส์',
 'ทรายมูล',
 'ราชธานี',
 'สุไหหงโกลก',
 'อำเภอเมืองสุรินทร์',
 'บางปลาม้า',
 'ทุ่งเสลี่ยม',
 'มายอ',
 'สุุวรรณคูหา',
 'คลงอเขื่อน',
 'อ.ปางมะผ้า',
 'ทุ่งครุ่',
 'ทุ่าอุเทน',
 'ราษฏ์บูรณะ',
 'ท่าศาลา/ปทุมธานี',
 'พระประเเดง',
 'วบเมย',
 'ทับคล้อ',
 'ประทุ่มแบน',
 'จันเกษม',
 'กาบเชิง',
 'ลาดบัวหลวง',
 'นาน้อย',
 'พระสมุทรเจดี',
 'เมืองเชียงใหม่',
 'สายใหม่',
 'ชัยบุรี่',
 'สามชุม',
 'คลองตัน',
 'คลองสาม',
 'แปลงนาม',
 'เฉลิมพระเกียรติ นครศรีธรรมราช',
 'ดอนแฝก',
 'สะพานความ',
 'หนองบัวระเหว',
 'คล่องท่อม',
 'ทุ่่งตะโก',
 'ทุ่าศาลา',
 'ดำเนินสะวก',
 'เมืืองสุพรรณบุรี',
 'รพ.เนินมะปราง',
 'เชีบงกลาง',
 'โพทะเล',
 'ดุสิตธานี',
 'อ.น้ำพอง',
 'ยานนายาว',
 'คำำม่วง',
 'จตจุจักร',
 'ศรีีสงคราม',
 'ศีีขรภูมิ',
 'แม่พริก',
 'บางะมุง',
 'บางพลััด',
 'ภููเวียง',
 'สุคีริน',
 'บ้านกร่าง',
 'วังหิน',
 'กุฉินาราณ์',
 'อยู่ระหว่างสอบ',
 'ลำำดวน',
 'เขตบางเขน',
 'พระโนง',
 'อ.หนองปรือ',
 'เมืองพิจิตร',
 'ศมพ',
 'พระพรหม',
 'เลิงนกทา',
 'หนองจอง',
 'คลองเตยเหนือ',
 'บันนังสะตา',
 'หนองจอก',
 'อ้อมน้อย',
 'เทพสถิต',
 'วังข่อย',
 'พระนาม 3',
 'ท่าสะอ้าน',
 'ธนบุรี',
 'ชุุมพวง',
 'ดอกคำใต่',
 'ภููหลวง',
 'แขวงสะพานสูง',
 'ป้อมปราบศรัตรูพ่าย',
 'สมุุทรปราการ',
 'บางประกง',
 'เพ็ญ',
 'ลานสะกา',
 'ตะค่า',
 'โพนางดำตก',
 'ชัยนาท',
 'บันนังสตา ',
 'สตึ้ก',
 'อ.ยะรัง',
 'เชียงรากน้อย',
 'สว่างอารมรมณ์',
 'เมืองกระบี่',
 'งทองหลาง',
 'อ.เมือง สบ.',
 'บ้านดุุง',
 'เขตบางชัน',
 'เขต สะพานสูง',
 'คลองหาด',
 'เมืองสุทรสงคราม',
 'เมือง ชลบุรี',
 'เขตมินบุรี',
 'สุทธิสาร',
 'บางกอกใหญ๋',
 'ทายาง',
 'เขาชัยสน',
 'แคนดง',
 'ประทาย',
 'พุทธมธฑล',
 'บางเสาร์ธง',
 'นำ้โสม',
 'บ้างกอกใหญ่',
 'รพ.บ้านสร้าง',
 'พนททวน',
 'หยุหะคีรี',
 'ห้นองพอก',
 'นาบอน',
 'พระนคร',
 'วังชิ้น',
 'แม่ระมาด',
 'เรนูนคร',
 'เขตทุ่งครู',
 'พระโขนงเหนือ',
 'ศรีสััชนาลัย',
 'พรหมคีรี',
 'หนองเรือ',
 'คลองสามวา',
 'ธันธบุรี',
 'เมืองนครนายก',
 'ป่าสัก',
 'คลองสามวาส',
 'สามพาน',
 'วัังสะพุง',
 'มหราช',
 'เกาะกูด',
 'ดานขนทด',
 'ปะจันตคาม',
 'ชื่นชม',
 'สุรศักดิ์',
 'เมืองหนองคาย',
 'สนามเวียงยอง',
 'ศรีสมเด็ก',
 'หนองใหย่',
 'ฉวาง',
 'เขตคุสิต',
 'ดินแดง',
 'เมืืองสมุทรสาคร',
 'ปลาปาก',
 'คันาว',
 'เขตพญาไท',
 'จะแน',
 'เขาไม้แก้ว',
 'แม่วงษ์',
 'เมืือง',
 'ทุ่งฝน',
 'ท่ากระดาน',
 'เกาะยาว',
 'กรงปินัง',
 'ท่่าวุ้ง',
 'สำโรงใต้',
 'ทองผาภูมิ',
 'เฉลิมพระเกีบรติ',
 'หลักหก',
 'ท่ามากา',
 'พระทองคำ',
 'เมืองอุบลราชานี',
 'นนทรี',
 'กระบัง',
 'บึงกาฬ',
 'ราษฎร์บรูณะ',
 'บ้้านแฮด',
 'ตาสัง',
 'บางแพ',
 'ท่าคัันโท',
 'บางขุนเทีี่ยน',
 'ทาทม',
 'กะทู้',
 'กระนวน',
 'บางกรวย',
 'ชัยภูมิ',
 'ทุ่งสง',
 'ท่องแสนขัน',
 'บ้่านบึง',
 'บางชุมน้อย',
 'เขตบางพลัด',
 'หนองหลวง',
 'ปาลศิลาทอง',
 'ป่ามะคาบ',
 'กระทุ่มแบน สมุทรสาคร',
 'นวมินทร',
 'บางกระทุม',
 'เมืองน่าน',
 'เวียรสระ',
 'เขตบางมด',
 'จตุุรพักตรพิมาน',
 'วัฒานคร',
 'วงเวียนใหญ่',
 'คลองหลอง',
 'ดิอนเมือง',
 'บ้านนาเดิม',
 'เจดีย์หัก',
 '\xa0เมืองตราด',
 'ตลาดไท',
 'วังคอแหลม',
 'กบินทร์',
 'เวียงแก่น',
 'พยักคฆภูมิพิสัย',
 'คำลองหลวง',
 'หนองมะโมง',
 'ทุ่งพญาไท',
 'รพ.ยี่งอ',
 'อุบลรัตน์',
 'สว่างอามณ์',
 'เทพา',
 'โพนทาอง',
 'หาดใหญ่',
 'ราชสาสน์',
 'ไทรโยค',
 'วััฒนา',
 'บางพลัด',
 'บึงโขงหลง',
 'เขตปทุมเวศ กรุงเทพมหานคร',
 'เมืองสมุทรสคร',
 'พรหรมคีรี',
 'หนองกุวศรี',
 'คองหลวง',
 'อ.บ้านไผ่',
 'อุทัย',
 'มหาราชนครศรีธรรมราช',
 'ปะลุกาสาเมาะ',
 'ปทุมราชวงศา',
 'แก้งคร้อ',
 'บางขัน/อ.ถ้ำพรรณา',
 'เมืองๆ',
 'บางขุนเมียน',
 'ชุุมแสง',
 'อยู่ระหว่างสอบสวน',
 'บางไทร',
 'ห้้วยเม็ก',
 'ราชบูรณะ',
 'ปรางค์กู่',
 'เมืองสมุทราสาคร',
 'ไหม',
 'เขตบางคอแหลม',
 'สามชัย',
 'ลำไทร',
 'สุไหง-โกลก',
 'จัตุจักร',
 'ทุ่งเสลียง',
 'แก่งกระจาาน',
 'สุวววณภูมิ',
 'ปางปะอินทร์',
 'โนนสูง',
 'เมืองสมุุทรปราการ',
 'บ้านไผ่',
 'ท่ามกา',
 'พระราม2',
 'บ้านคา',
 'อินทร์บุรี',
 'บางขวาง',
 'ไม่่ระบุ',
 'เขตตลิ่งชัน',
 'บาลขุนเทียน',
 'บ้างสะพานน้อย',
 'เมืืองขอนแก่น',
 'ราชฏร์บูรณะ',
 'สุวารี',
 'กุฉินารยณ์',
 'ศรีมหาพจ',
 'กันทรวิชับ',
 'สุขสวัสดิ์',
 'แขวงแสมดำ เขตบางขุนเทียน',
 'ตะกั่ั่วทุ่ง',
 'ภาษีเจริญ',
 'สันทราง',
 'คลองเตย กรุงเทพมหานคร',
 'บางปะกง',
 'ท่าชนะ',
 'ปทุุมรัตน์',
 'พังโดน',
 'หลักสอง',
 'กุกชุม',
 'โนนหว้า',
 'ทรายทองพัฒนา',
 'ท่าแพ',
 'โพธิ์นาราง',
 'สหัสขันธุ์์',
 'สะพานสููง',
 'นครชัยศรีษะ',
 'เมอืง',
 'ยางสีสุุราช',
 'บ้านธิ',
 'LOIKAW',
 'กันทลักษ์',
 'ห้วยพลู',
 'ท่าข้าม',
 'สุวรรรคูหา',
 'ท่่าปลา',
 'โพธืทอง',
 'งานบ้าน',
 'หัวหิิน',
 'คุระบุุรี',
 'ทุ่งครุ',
 'นคปฐม',
 'หาดใหญ่่',
 'บางพลีัด',
 'รือเสาะ',
 'จรัญ',
 'เมืองสุโขทัย',
 'วังน้ำเย็น',
 'ท่าระหัด',
 'พบพระ',
 'เมืองนครศรีธรรมราช',
 'คันนายาว',
 'บ้านโป่ง จ.ราชบุรี',
 'ดอนเมือง',
 'ตลาดขวัญ',
 'ห้วยกรด',
 'เเม่ริม',
 'เขตหนองจอก',
 'เมืองพิษณุโรค',
 'เขตยานาวา',
 'สมุทรสงคราม',
 'อ่าวนาง',
 'บ่านนา',
 'เบญจลักษ์',
 'จตุรพักพิมาน',
 '2สองพี่น้อง',
 'บ้านเหลี่ยม',
 'เกาะลันตาน้อย',
 'อุทัยธานี',
 'บางขุนเทียร',
 'หนองเรีือ',
 'ทองหล่อ',
 'ท่าตะโก',
 'ห้วยเขย่ง',
 'ภููผาม่าน',
 'กิ่งอำเภอบางเสาธง',
 'สวีี',
 'ตลองหลวง',
 'พัฒนิคม',
 'พัฒนาคม',
 'ท่าลี่',
 'วังตะกู',
 'เขตสาทร',
 'ควนเพียง',
 'หน้าเมือง',
 'ตาตลี',
 'อ.ชัยบาดาล',
 'ศาลายา2',
 'ทุ่งใหญ่',
 'ป้อมปราบศัตรูพ่าย',
 'จัังหาร',
 'บ้านฟ้า',
 'อ่าวลึกน้อย',
 'นาคูน',
 'ตะกั่วทุง',
 'ยางลาด',
 'สีคิ้ว',
 'เมืองเอก',
 'กันตรัง',
 'ปััว',
 'แหลมฉะบัง',
 'นิคมสร้างตนเอง',
 'โพธาราม',
 'พระยืน',
 'กระบุรี',
 'พล',
 'อยู่ระหว่างการสอบสวนโรค',
 'พนมไพร',
 'บ้านลาน',
 'กระทุุ่มแบน',
 'รือเมาะ',
 'อุบลราชธานี',
 'พระราม 3',
 'พิมลราช',
 'กันทรวิิชัย',
 'บางบัวทอง',
 'ขุญหาญ',
 'เมืองขอนแก่่น',
 'แปลงยาง',
 'บางลำภูล่าง',
 'ลาดพร้าว31',
 'เมืองสกลนคร',
 'จตุรพักตร',
 'เมืืองเลย',
 'สทิงหม้อ',
 'ท่าตะเกียบ',
 'ส่องดาว',
 'บึงน้ำรักษ์',
 'เขตสวนหลวง',
 'จอมทอว',
 'หนองกุุงศรี',
 'ทุ่งคุ',
 'เกาะพะงัน',
 'ลำลูฏ',
 'อ.ศรีมหาโพธิ',
 'พระรามสาม',
 'บางขุนเทียบน',
 'เมืองอำนาจเจริญ',
 'สมอเรียง',
 'บึงกุ่ม',
 'ราชเทวี',
 'บ่านแหลม',
 'ราชพฤกษ์',
 'ปะเหลียน',
 'โนนราช',
 'เมืองตาก',
 'หนองบุญมาก',
 'ระแงะ',
 'คลองพน',
 'เมืืองร้อยเอ็ด',
 'บ้านบาตร',
 'กู่แก้ว',
 'อุบลรัตน',
 'ดอนเดีย์',
 'ราชเทวะ',
 'ชลบุรี',
 'อลำลูกกา',
 'เมืองสิงห์บุรี',
 '\xa0อัมพวา',
 'ป่าแฝก',
 'คลองใหญ่',
 'แม่จัน',
 'เก้าเลี้ยง',
 'เมืองพังงา',
 'เมืองประจวบฯ',
 'แสมดำ',
 'แปลงยาว',
 'นาตาล',
 'ปากคาด',
 'ทวีวัมนา',
 'จำพร',
 'สวด',
 'ท่าหลวง',
 'ทุ่มครุ',
 'เมืองสมุทธสาคร',
 'โพนทอง',
 'หััวหิน',
 'ห้วยขว้าง',
 'เมือง สกลนคร',
 'กรงปีนัง',
 'มะการักษ์',
 'อำเพระนครศรีอยุธยา',
 'สุขุมวิทย์',
 'บางบำหรุ',
 'ประจันตคาม',
 'พุนพิน',
 'ปทุม',
 'หนองนาคำ',
 'สำโรงทาบ',
 'คลองวาฬ',
 'ลำปลายมาศ',
 'กาญจนดิษฐ์',
 'เขตสัมพันธ์ กรุงเทพมหานคร',
 'เมืองนราธิวาส',
 'หนองขาหย่าง',
 'ลาดกระบัง',
 'หาดใหญ๋',
 'ภูกายยาว',
 'คลองเตบ',
 'กิ่งอำเภอชื่นชม',
 'แกjงหางแมว',
 'สิรินธร',
 'ประทุ่มวัน',
 'นามน',
 'บางเขน',
 'บางเทา',
 'เชียงม่วน',
 'กุดบาก',
 'หนองบัวลำภู',
 'พิมาย',
 'บางลำพู',
 'กรุงเทพมหานคร',
 'ทท่ามะกา',
 'คลองขลุง',
 'ลุมพินี',
 'เฉลิมฯ',
 'เขตคลองสาร',
 'กองควาย',
 'สานมพราน',
 'ภาคี',
 'เขตบึงกุ่ม',
 'กันทรลักษณ์',
 'เขื่องใน',
 'กันตัง',
 'เคีียนซา',
 'ศรีเมืองใหม่',
 'เขตคลองสาน',
 'นางแดดบุ่ง',
 'ทองแสนขััน',
 '\xa0บ้านแพ้ว',
 'ฃุมตาบง',
 'ประทาน',
 'หนองค้างพู',
 'ท่าแร้ง',
 'ลำพูน',
 'ท่าพระ',
 'หนองค้างพูล',
 'สบปราบ',
 'ขะอวด',
 'บึงโขงโหลง',
 'คลองจั่น',
 'หัวเขา',
 'ตากใบ\t',
 'ลำมะเมนชัย',
 'เปืือยน้อย',
 'กะลุวอ',
 'เมืองภูเก็ต',
 'เมืองสมุทรปราการ\n',
 'ทับปูด',
 'รพ.ไชโย',
 'คลองมะเดื่อ',
 'บางพลู',
 'เมืองสมุทรปาการ',
 'ลบางเขน',
 'นาแห้ว',
 'ประเวศ บางนา',
 'สามพดราน นครปฐม',
 'ปะคำ',
 'เดิมบางนาง  บวช',
 'รับจ้าง บ.เควินเดอร์',
 'บางแม่นาง',
 'หนองค้างพลู',
 'โป่งน้ำร้อน',
 'มาบตาพุด',
 'สุรินทร์',
 'ควนขนน',
 'โกสัมพีนคร',
 'ระนอง',
 'แขวงสวนหลวง',
 'แก้งค้อ',
 'โคกโพธิ์',
 'หนองหญ้า',
 'ดอยหลวง',
 'หัวหิน (ชะอำ)',
 'วาปีปทุม',
 'โปร่งน้ำร้อน',
 'ตราด',
 'บางปะกิ',
 'พุทธมนฑน',
 'ทุ่งมหาเมฆ',
 'โพธ์ทอง',
 'เมืองจันทบุรี',
 'รังนก',
 'ศรีนคร',
 'อ.ท่าม่วง',
 'เขาชนกัน',
 'บางคอแหลม กรุงเทพมหานคร',
 'วังทรายมูล',
 'ขาณุวรลักษบุรี',
 'เมืองแพร่',
 'โกสุมพิสััย',
 'หนองกี่',
 'อนุเสาวรีย์',
 'บ่อเหล็กลอง',
 'วิเชียนบุรี',
 'คลองสวนพลู',
 'มีนบุรี กรุงเทพมหานคร',
 'เขตลาดพร้าว',
 'หนองหาน',
 'กุดข้าวปุ้น',
 'แม่ริม',
 'ทรายขาว',
 'ธนบุุรี',
 'บีงนาราง',
 'บางขุนนน',
 'ร่อนพิบูลย์',
 'ตะโก',
 'กะพ้อ',
 'จุฬาภรณ์',
 'โคกกรวด',
 'สามพพราน',
 'บางเลย',
 'บ้้านผือ',
 'อำเภอเมืองมุกดาหาร',
 'กระทุ่งเเบน',
 'สหัสสขัันธ์',
 'โขงเจียม',
 'สุรวงศ์',
 'ศรีมโหสถ',
 'กันทรวัชัย',
 'น้ำปาด',
 'ดง',
 'เดชอุดม',
 'สามเสนนอก',
 'ปางศิลาทอง',
 'ประเวช',
 'คลองกุ่ม',
 'บาโงสะโต',
 'บางประอินทร์',
 'เมืองสมุุทรสงคราม',
 'บ้านแพ้ว',
 'เมืองลำพูน',
 'เมืองเพชรบูรณ์',
 'บางนอน',
 'วัดสามพญา',
 'ขุนตาล',
 'เวียงป่่าเป้า',
 'โนนสัง',
 'ศรีสะชนาลัย',
 'โคกศรีสุพรรณ',
 'หัวรอ',
 'โนนศิิลา',
 'เหล่าเสือโก้ก',
 'ลาดหลุุมแก้ว',
 'หนองไม้แก่น',
 'เขตสายไหม',
 'บางคลัง',
 'ยานนนวา',
 'สมุย',
 'บางซื่อ',
 'เดิมบางนาบวช',
 'วาริน',
 'ประเวศ กรุงเทพมหานคร',
 'พรมพิราม',
 'ตราพญา',
 'วาริิชภูมิ',
 'วังเจ้า',
 'พลับพลาชัย',
 'ศรีสมเด็จ',
 'อำนาจเจริญ',
 'สะพานใหม่',
 'อมก๋อย',
 'เวียงต้า',
 'สาทร',
 'ขามทะเลสอ',
 'ธัญญะบุรี',
 'แขวงคลองบางบอน',
 'ราษีไศล',
 'เกษตรวิสัย',
 'ตลาดพลู',
 'ท่่าวังผา',
 'ราศีไศล',
 'เกาะพงัน',
 'พนอม',
 'เขตป้อมปราบศัตรูพ่าย',
 'กระทุ่ทมแบน',
 'งามวงศ์วาน',
 'บางขุนเเทียน',
 'ปากเกร็ต',
 'วานรนิสาส',
 'จตุรพักตรพิิมาน',
 'ทามะกา',
 'คอลงสามวา',
 'หัวหมาห',
 'เมืองฉะเชิงเทรา\u200e',
 'บางกะปิ',
 'บางจาก',
 'สามร้อยยอด',
 'ศรีขระภูมิ',
 'เมืองระยอง\n',
 'ศรีสาคร',
 'จันทบุรี',
 'กงหรา',
 'เข้าย้อย',
 'แม่แมาะ',
 'รัษฏา',
 'โนังข์',
 'เมือง ',
 'เขตห้วยขวาง',
 'บางปะปิ',
 'บ้านโคก',
 'ท่าวังผา',
 'อ.หาดใหญ่',
 'พังโคน',
 'ตะพานดิน',
 'มหาชนะชัย',
 'ด่านขุนทด',
 'ดำเนินสะดวก',
 'สะพานสูง',
 'หนองจาก',
 'เขตพระโขนง (พิชัย)',
 'เสนาคนิคม',
 'เขตธนบุรี',
 'โกรกกราก',
 '2.สัมผัสผู้ติดเชื้อ',
 'สหัสขันธ์',
 'กะทูู้้',
 'หนองน้อย',
 'สตึก',
 'หนองบัวแดง',
 'ทุ่งศรีอุดม',
 'อุดรธานี',
 'คอนสวรรค์',
 'ท่าปลา',
 'ชื่ื่นชม',
 'บ้างพลี',
 'โพธิ์ทะเล',
 'สัันติสุข',
 'กะทูู้',
 'ห้างฉัตร',
 'ดืนแดง',
 'แจ้้ห่ม',
 'พระพทธบาท',
 'บางกระทุ่ม',
 'คลองหนึ่ง',
 'บางพี',
 'บ้านตาขุน',
 'สุรวงค์',
 'หนองปรือ',
 'หนองพังค่า',
 '\xa0เมืองสมุทรสาคร',
 'พุระแสง',
 'แม่แตง',
 'บางยี่ขัน',
 'พุทธมลฑล',
 'ชิงโค',
 'อืนทร์บุรี',
 'กำแพงแสน',
 'กิ่งอ.แม่เปิน',
 'ทรายทองวัฒนา',
 'องค์รักษ์',
 'เขวาใหญ่',
 'ราษฎรบูรณะ',
 'เชีียงขวัญ',
 'พนม',
 'สูงเม่น',
 'วังยาง',
 'คง',
 'บ้่านฝาง',
 'บางน้ำจืด',
 'วังน้อย',
 'โกสุมพสัย',
 'ตาคลี',
 'ห้วยขว่าง',
 'หล่่มสัก',
 'รหารเดา',
 'ธาตุุพนม',
 'สมุทรเจดีย์',
 'เอกชัย',
 'บางละมุุง',
 'ทุ่งเทหลวง',
 'คลองหอยโข่ง',
 'ไทยน้อย',
 'นครสวรรค์',
 'หนอจอก',
 'ท่ามะกา',
 'โพธิ์ชัย',
 'เมืองจัันทบุรี',
 'ชัยบาดาล',
 'เกาะลันตา',
 'อ่างทอง',
 'บ้านดง',
 'อ.แม่ฟ้าหลวง',
 'บุคคโล ธนบุรี',
 'วัฒนา',
 'สว่างแดนดิน',
 'อรัญประเทศ',
 'ทองผาภุมิ',
 'คลองลาน',
 'ตำหนักธรรม',
 'หลังสวน',
 'ร้อยกวาง',
 'อาสามารถ',
 'สามพราม',
 'คลองโคน',
 'นิคมน้ำอูน',
 'คองเตย',
 'ราษฏบูรณะ',
 'พรรณนิคม',
 'สว่นผึ้ง',
 'กุดชุม',
 'บ้านแพรก',
 'บางนา ',
 'โชคชััย',
 'ศรีบุญเรืิอง',
 'เมืองสมุทรปราการ',
 'บ้านด่่านลานหอย',
 'ป่าเเดด',
 'โนนสะอาด',
 'ศรีขรภูมิ',
 'บาวแค',
 'น่าหม่อม',
 'ทุ่งกรุ',
 'บ้านลาด',
 'ปบางปะอิน',
 'บุ่งคล้า',
 'พระราม4',
 'บางขุนนนท์',
 'รพ.แหลมสิงห์',
 'สีกัน',
 'ชุมเสง',
 'ระแงะ นราธิวาส',
 'หันคา',
 'เขคปทุมวัน',
 'ลาดใหญ่',
 'บ้านใหม่ชัยพจน์',
 'เขาคิชฌกูฏ',
 'เกาะคา',
 'เมืองหนองบัวลำภู',
 'เขาฉกรรจ์',
 'พิบูลมังสาหาร',
 'มหาชัย',
 'บ้วใหญ่',
 'ห้อยยอด',
 'บึงกลุ่ม',
 'ราขบุรี',
 'บางชุนเทียน',
 'อยู่ระหว่างการสอบ',
 'เมืองอุุตรดิตถ์',
 'หนองแพง',
 'แขวงสิริธร',
 'เขตราชเทวี',
 'คลองหก',
 'บางพีลัด',
 'เส้าไห้',
 'กึ่งอำเภอสากเหล็ก',
 'ดอนมูล',
 'ดันนายาว',
 'เขาสวนกลาง',
 'ระบุ',
 'บาเจาะ',
 'วังน้ำขาว',
 'หนองสือ',
 'กาบัง',
 'อ.กบินทร์บุรี',
 'สหัสขัันธุ์',
 'หนองเเขม',
 'พระนครศรีอยุธยา',
 'อ.กระทุ่มแบน',
 'คลองสวน',
 'กงไกรลาส',
 'บังนาราง',
 'เวียงเก่า',
 'กิ่งอำเภอเอราวัณ',
 'สาคร',
 'หาดสำราญ',
 'ป้อมปราบศัตรูพ้าย',
 'ภาษีเจิรญ',
 'ท่าทะกา',
 'บ่อหลวง',
 'ลาดกระบัง กรุงเทพมหานคร',
 'สามเงา',
 'กองดิน',
 'บางกด',
 'ปลวงกแดง',
 'สกลนคร',
 'พยุห์',
 'อ่าวลึก',
 'ขอนแก่่น',
 'โนนาแดง',
 'เมืองตรัง',
 'เมืองเพชรบูรณ์ ',
 'บ้้านแหลม',
 'กะทุ่มแบน',
 'เชียงของ',
 'ภูเขียว',
 'สิงหนคร',
 'ทรงคะนอง',
 'เมืองนครปฐม',
 'โพธิ์ไทร',
 'คอลเตย',
 'ปราสาท',
 'อ.บ้านแพ้ว',
 'ชะอำ',
 'แขวนวัดทุ่งดอน',
 'บางขุนทียน',
 'บ้านแพง',
 'ทุงเสลี่ยม',
 'บึงนาราง',
 'นตรไทย',
 'อ.พนมทวน',
 'ธวัชบรี',
 'หนองหญ้าปล้อง',
 'ตะกั่วป่่า',
 'ชนบท',
 'สมุทรปราการ',
 'โพนทาย',
 'ฆ้องชัย',
 'เชียงขวัญ',
 'มหาสารคาม',
 'บรรพต',
 'พรประแดง',
 'เมืองเชียงราย',
 'สรรคบุรี',
 'สามร้อยยยอด',
 'คอแหลม',
 'นาโยง',
 'สายบุรี',
 'สามชััย',
 'บ้านเเพ้ว',
 'ปากช่อง',
 'อยุธยา',
 'เขตคลองเตย กรุงเทพมหานคร',
 'เมืืองลพบุรี',
 'สำโรงเหนือ',
 'ปากน้ำ',
 'เมืองสุรรณบุรี',
 'พญาเม็งราย',
 'ดอนจาน',
 'เมยวดี',
 'เมืองจันทบูล',
 'สัมพันธ์ธวงศ์',
 'โพนนาแก้ว',
 'นายายอาม',
 'ทุ่งสง',
 'สิแกา',
 'เมืองนคร',
 'แปดริ้ว',
 'สาบยใหม่',
 'แก่งทางแมว',
 'จำไม่ได้',
 'นากลาง',
 'บึงขวาง',
 'เรณููนคร',
 'พระแท่น',
 'เทพสถิตย์',
 'อ.หัวหิน',
 'พระนคศรีอยุธยา',
 'วังหทองหลาง',
 'นายูง',
 'โพนสวรรค์์',
 'ขี้เหล็ก',
 'ร่อนพิบุูลย์',
 'ปทุมัน',
 'ราษฎร์บูรณะ ',
 'ทุ่งวัดดอน',
 'หนองแขง',
 'กระบี่',
 'โพนสวรรคื',
 'เปอร์ลิส',
 'เมืองสระบุรี',
 'โต๊ะเด็ง',
 'เจาะไอร้อง',
 'กุมลาไสย',
 'สำโรง',
 'บางปู',
 'ผักไห่',
 'ปาดังเบซาร์',
 'เวียงหน่องล่อง',
 'คลองสามสา',
 'เมืืองปาน',
 'ประจันตคราม',
 'บางบบ่',
 'กุฉินารายณ์',
 'ลิบง',
 'ตะกั่วป่า',
 'เทียนทะเล',
 'เขตคลองเตย',
 'เขตบางบอน',
 'บางกอกใหญ่',
 'กระทุ่มแบน',
 'สัมพันธ์วงศ์',
 'พุกร่าง',
 'เชีียรใหญ่',
 '\xa0กระทุ่มแบน',
 'เมืองอุบลราชธานี',
 ...}

**9.ตรวจสอบค่า Missing อีกครั้ง**

In [ ]:
data.isnull().any()

No.                      False
announce_date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

**✔️พบว่าไม่มีค่า Missing แล้ว แสดงว่าข้อมูลมีความสะอาดมากขึ้น พอที่จะนำไปวิเคราะห์ต่อในขั้นตอนถัดไป**

**ออกแบบและสร้างตาราง pandas dataframe ที่ สามารถนำมาดึงข้อมูลด้วย pandas ได้**

## ตารางข้อมูลภาค
`ใช้ Dictionary(row oriented) วิธีที่ 1 ของอาจารย์`

In [ ]:
data_list = [ {'จังหวัด':'อำนาจเจริญ','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'บึงกาญ','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
              {'จังหวัด':'บุรีรัมย์','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},  
                {'จังหวัด':'ชัยภูมิ','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
              {'จังหวัด':'กาฬสินธุ์','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'ขอนแก่น','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'เลย','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'มหาสารคาม','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'มุกดาหาร','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
              {'จังหวัด':'นครพนม','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'นครราชสีมา','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'หนองบัวลำภู','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'หนองคาย','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'ร้อยเอ็ด','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'สกลนคร','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'ศรีสะเกษ','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'สุรินทร์','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'อุบลราชธานี','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
               {'จังหวัด':'อุดรธานี','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
              {'จังหวัด':'ยโสธร','ภูมิศาสตร์':'ตะวันออกเฉียงเหนือ','การเมือง':'ตะวันออกเฉียงเหนือ','อุตุุนิยมวิทยา':'ตะวันออกเฉียงเหนือ','การท่องเที่ยว':'ตะวันออกเฉียงเหนือ'},
              {'จังหวัด':'เชียงใหม่','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'เชียงราย','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'ลำปาง','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'ลำพูน','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'แม่ฮ่องสอน','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'น่าน','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'พะเยา','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'แพร่','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'อุตรดิตถ์','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'ตาก','ภูมิศาสตร์':'ตะวันตก','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'สุโขทัย','ภูมิศาสตร์':'กลาง','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'พิษณุโลก','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'พิจิตร','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'กำแพงเพรช','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'เพรชบูรณ์','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'นครสวรรค์','ภูมิศาสตร์':'เหนือ','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'เหนือ','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'อุทัยธานี','ภูมิศาสตร์':'กลาง','การเมือง':'เหนือ','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'เหนือ'},
              {'จังหวัด':'อ่างทอง','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'ชัยนาท','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'พระนครศรีอยุธยา','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'กรุงเทพมหานคร','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'ลพบุรี','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'นครปฐม','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'นนทบุรี','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'ปทุมธานี','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'สมุทรปราการ','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'สมุทรสาคร','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'สมุทรสงคราม','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'สระบุรี','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'สิงห์บุรี','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'สุพรรณบุรี','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'นครนายก','ภูมิศาสตร์':'กลาง','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'ฉะเชิงเทรา','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'จันทบุรี','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'ชลบุรี','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'ปราจีนบุรี','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'ระยอง','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'สระแก้ว','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'ตราด','ภูมิศาสตร์':'ตะวันออก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ตะวันออก','การท่องเที่ยว':'ตะวันออก'},
              {'จังหวัด':'กาญจนบุรี','ภูมิศาสตร์':'ตะวันตก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'ราชบุรี','ภูมิศาสตร์':'ตะวันตก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'กลาง','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'เพรชบุรี','ภูมิศาสตร์':'ตะวันตก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'กลาง'},
              {'จังหวัด':'ประจวบคีรีขันธ์','ภูมิศาสตร์':'ตะวันตก','การเมือง':'กลาง','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'กลาง'},
             {'จังหวัด':'ชุมพร','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'นครศรีธรรมราช','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'นราธิวาส','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'ปัตตานี','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'พัทลุง','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'สงขลา','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'สุราษฎร์ธานี','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'ยะลา','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'กระบี่','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'พังงา','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'ภูเก็ต','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'ระนอง','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'สตูล','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','การท่องเที่ยว':'ใต้'},
              {'จังหวัด':'ตรัง','ภูมิศาสตร์':'ใต้','การเมือง':'ใต้','อุตุุนิยมวิทยา':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','การท่องเที่ยว':'ใต้'},
]

In [ ]:
data_Th = pd.DataFrame(data_list)
data_Th

       จังหวัด  ...       การท่องเที่ยว
0   อำนาจเจริญ  ...  ตะวันออกเฉียงเหนือ
1       บึงกาญ  ...  ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...  ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...  ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...  ตะวันออกเฉียงเหนือ
..         ...  ...                 ...
72       พังงา  ...                 ใต้
73      ภูเก็ต  ...                 ใต้
74       ระนอง  ...                 ใต้
75        สตูล  ...                 ใต้
76        ตรัง  ...                 ใต้

[77 rows x 5 columns]

**ทำการรวมตารางข้อมูล confirmed-cases กับ ตารางข้อมูลภาค**

`เอาเฉพาะข้อมูลที่สนใจ`

In [ ]:
Table1_data = data[['No.','sex','age','nationality']] #ตารางแรกเลือกเอาเฉพาะฟิวด์ No.','sex','age','nationality 
Table1_data.head() #ดูแถวด้านบน 5 แถวแรก

   No.   sex   age nationality
0    1  หญิง  61.0       China
1    2  หญิง  74.0       China
2    3  หญิง  73.0    Thailand
3    4   ชาย  68.0       China
4    5  หญิง  66.0       China

In [ ]:
Table2_data = data[['No.','announce_date','province_of_isolation','province_of_onset','risk']] #ตารางสองเลือกเอาเฉพาะฟิวด์ No.','announce_date','province_of_isolation','province_of_onset','risk
Table2_data.tail() #ดูแถวด้านล่าง 5 แถวแรก

           No.  ...                                               risk
816984  816985  ...                               อยู่ระหว่างการสอบสวน
816985  816986  ...                               อยู่ระหว่างการสอบสวน
816986  816987  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
816987  816988  ...                                              อื่นๆ
816988  816989  ...                                              อื่นๆ

[5 rows x 5 columns]

In [ ]:
Table3_data = Table1_data.merge(Table2_data) # นำสองตารางแรกมารวมกันด้วยคำสั่ง merge โดยใช้ฟิวด์No.นำมาเชื่อมกัน
Table3_data.head(10)

   No.   sex  ...  province_of_onset                              risk
0    1  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3  หญิง  ...             นครปฐม  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7  หญิง  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8  หญิง  ...    ประจวบคีรีขันธ์  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9   ชาย  ...      กรุงเทพมหานคร  คนต่างชาติเดินทางมาจากต่างประเทศ
9   10  หญิง  ...            นนทบุรี  คนต่างชาติเดินทางมาจากต่างประเทศ

[10 rows x 8 columns]

In [ ]:
data_clean = Table3_data.merge(data_Th,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')
data_clean.head(10)

       No.   sex  ...      อุตุุนิยมวิทยา       การท่องเที่ยว
0    973.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
1   1864.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
2   6493.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
3   7390.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
4  31038.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
5  31039.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
6  32917.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
7  32918.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
8  36501.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
9  36502.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ

[10 rows x 13 columns]

# **1. อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)**

## **1.1ภาคเหนือ**

**1.1.1ภาคเหนือแบ่งตามภูมิศาสตร์**

In [ ]:
Region_1 = data_clean[data_clean['ภูมิศาสตร์']== 'เหนือ']
Region_1.head(3)

         No.  sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
37883   17.0  ชาย  28.0  ...    เหนือ          เหนือ         เหนือ
37884   92.0  ชาย  37.0  ...    เหนือ          เหนือ         เหนือ
37885  186.0  ชาย  31.0  ...    เหนือ          เหนือ         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Region_1 = Region_1[['age','ภูมิศาสตร์']] 
age_Region_1.iloc[:1,:]

        age ภูมิศาสตร์
37883  28.0      เหนือ

**1.1.2ภาคเหนือแบ่งตามการเมือง**

In [ ]:
Region_2 = data_clean[data_clean['การเมือง']== 'เหนือ']
Region_2.head(3)

         No.  sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
37883   17.0  ชาย  28.0  ...    เหนือ          เหนือ         เหนือ
37884   92.0  ชาย  37.0  ...    เหนือ          เหนือ         เหนือ
37885  186.0  ชาย  31.0  ...    เหนือ          เหนือ         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Region_2 = Region_2[['age','การเมือง']] 
age_Region_2.iloc[:1,:]

        age การเมือง
37883  28.0    เหนือ

**1.1.3ภาคเหนือแบ่งตามการเมือง**

In [ ]:
Region_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'เหนือ']
Region_3.head(3)

         No.  sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
37883   17.0  ชาย  28.0  ...    เหนือ          เหนือ         เหนือ
37884   92.0  ชาย  37.0  ...    เหนือ          เหนือ         เหนือ
37885  186.0  ชาย  31.0  ...    เหนือ          เหนือ         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Region_3 = Region_3[['age','อุตุุนิยมวิทยา']] 
age_Region_3.iloc[:1,:]

        age อุตุุนิยมวิทยา
37883  28.0          เหนือ

**1.1.4ภาคเหนือแบ่งตามการเมือง**

In [ ]:
Region_4 = data_clean[data_clean['การท่องเที่ยว']== 'เหนือ']
Region_4.head(3)

         No.  sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
37883   17.0  ชาย  28.0  ...    เหนือ          เหนือ         เหนือ
37884   92.0  ชาย  37.0  ...    เหนือ          เหนือ         เหนือ
37885  186.0  ชาย  31.0  ...    เหนือ          เหนือ         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Region_4 = Region_4[['age','การท่องเที่ยว']] 
age_Region_4.iloc[:1,:]

        age การท่องเที่ยว
37883  28.0         เหนือ

## **1.2ภาคกลาง**

**1.2.1ภาคกลางแบ่งตามภูมิศาสตร์**

In [ ]:
Regionb_1 = data_clean[data_clean['ภูมิศาสตร์']== 'กลาง']
Regionb_1.head(3)

         No.   sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
59271  128.0   ชาย  36.0  ...    เหนือ          เหนือ         เหนือ
59272  204.0  หญิง  33.0  ...    เหนือ          เหนือ         เหนือ
59273  450.0  หญิง  42.0  ...    เหนือ          เหนือ         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Regionb_1 = Regionb_1[['age','ภูมิศาสตร์']] 
age_Regionb_1.iloc[:1,:]

        age ภูมิศาสตร์
59271  36.0       กลาง

**1.2.2ภาคกลางแบ่งตามการเมือง**

In [ ]:
Regionb_2 = data_clean[data_clean['การเมือง']== 'กลาง']
Regionb_2.head(3)

          No.   sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
73996  5809.0  หญิง  44.0  ...     กลาง           กลาง          กลาง
73997  6689.0   ชาย  35.0  ...     กลาง           กลาง          กลาง
73998  6893.0   ชาย  39.0  ...     กลาง           กลาง          กลาง

[3 rows x 13 columns]

In [ ]:
age_Regionb_2 = Regionb_2[['age','การเมือง']] 
age_Regionb_2.iloc[:1,:]

        age การเมือง
73996  44.0     กลาง

**1.2.3ภาคกลางแบ่งตามอุตุุนิยมวิทยา**

In [ ]:
Regionb_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'กลาง']
Regionb_3.head(3)

           No.   sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
72308    869.0  หญิง  36.0  ...    เหนือ           กลาง         เหนือ
72309  24758.0   ชาย  65.0  ...    เหนือ           กลาง         เหนือ
72310  31652.0  หญิง  22.0  ...    เหนือ           กลาง         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Regionb_3 = Regionb_3[['age','อุตุุนิยมวิทยา']] 
age_Regionb_3.iloc[:1,:]

        age อุตุุนิยมวิทยา
72308  36.0           กลาง

**1.2.4ภาคกลางแบ่งตามการท่องเที่ยว**

In [ ]:
Regionb_4 = data_clean[data_clean['การท่องเที่ยว']== 'กลาง']
Regionb_4.head(3)

          No.   sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
73996  5809.0  หญิง  44.0  ...     กลาง           กลาง          กลาง
73997  6689.0   ชาย  35.0  ...     กลาง           กลาง          กลาง
73998  6893.0   ชาย  39.0  ...     กลาง           กลาง          กลาง

[3 rows x 13 columns]

In [ ]:
age_Regionb_4 = Regionb_4[['age','การท่องเที่ยว']] 
age_Regionb_4.iloc[:1,:]

        age การท่องเที่ยว
73996  44.0          กลาง

## **1.3ภาคตะวันออก**

**1.3.1ภาคตะวันออกแบ่งตามภูมิศาสตร์**

In [ ]:
Regionc_1 = data_clean[data_clean['ภูมิศาสตร์']== 'ตะวันออก']
Regionc_1.head(3)

          No.   sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
531250  120.0   ชาย  73.0  ...     กลาง       ตะวันออก      ตะวันออก
531251  306.0  หญิง  66.0  ...     กลาง       ตะวันออก      ตะวันออก
531252  409.0   ชาย  38.0  ...     กลาง       ตะวันออก      ตะวันออก

[3 rows x 13 columns]

In [ ]:
age_Regionc_1= Regionc_1[['age','ภูมิศาสตร์']] 
age_Regionc_1.iloc[:1,:]

         age ภูมิศาสตร์
531250  73.0   ตะวันออก

**1.3.2ภาคตะวันออกแบ่งตามการเมือง**

In [ ]:
Regionc_2 = data_clean[data_clean['การเมือง']== 'ตะวันออก']
Regionc_2.head()

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regionc_2= Regionc_2[['age','การเมือง']] 
age_Regionc_2.iloc[:1,:]

Empty DataFrame
Columns: [age, การเมือง]
Index: []

**1.3.3ภาคตะวันออกแบ่งตามการอุตุุนิยมวิทยา**

In [ ]:
Regionc_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'ตะวันออก']
Regionc_3.head(3)

           No.  sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
526946   286.0  ชาย  71.0  ...     กลาง       ตะวันออก          กลาง
526947  1860.0  ชาย  55.0  ...     กลาง       ตะวันออก          กลาง
526948  6145.0  ชาย  30.0  ...     กลาง       ตะวันออก          กลาง

[3 rows x 13 columns]

In [ ]:
age_Regionc_3= Regionc_3[['age','อุตุุนิยมวิทยา']] 
age_Regionc_3.iloc[:1,:]

         age อุตุุนิยมวิทยา
526946  71.0       ตะวันออก

**1.3.4ภาคตะวันออกแบ่งตามการท่องเที่ยว**

In [ ]:
Regionc_4 = data_clean[data_clean['การเมือง']== 'ตะวันออก']
Regionc_4.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regionc_4= Regionc_4[['age','การเมือง']] 
age_Regionc_4.iloc[:1,:]

Empty DataFrame
Columns: [age, การเมือง]
Index: []

## **1.4ภาคตะวันตะวันตก**

**1.4.1ภาคตะวันตกแบ่งตามภูมิศาสตร์**

In [ ]:
Regiond_1 = data_clean[data_clean['ภูมิศาสตร์']== 'ตะวันตก']
Regiond_1.head(3)

          No.   sex   age  ... การเมือง อุตุุนิยมวิทยา การท่องเที่ยว
52628   779.0   ชาย  30.0  ...    เหนือ          เหนือ         เหนือ
52629  1178.0  หญิง  23.0  ...    เหนือ          เหนือ         เหนือ
52630  2013.0   ชาย  24.0  ...    เหนือ          เหนือ         เหนือ

[3 rows x 13 columns]

In [ ]:
age_Regiond_1= Regiond_1[['age','ภูมิศาสตร์']] 
age_Regiond_1.iloc[:1,:]

        age ภูมิศาสตร์
52628  30.0    ตะวันตก

**1.4.2ภาคตะวันตกแบ่งตามการเมือง**

In [ ]:
Regiond_2 = data_clean[data_clean['การเมือง']== 'ตะวันตก']
Regiond_2.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regiond_2= Regiond_2[['age','การเมือง']] 
age_Regiond_2.iloc[:1,:]

Empty DataFrame
Columns: [age, การเมือง]
Index: []

**1.4.3ภาคตะวันตกแบ่งตามอุตุุนิยมวิทยา**

In [ ]:
Regiond_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'ตะวันตก']
Regiond_3.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regiond_3= Regiond_3[['age','อุตุุนิยมวิทยา']] 
age_Regiond_3.iloc[:1,:]

Empty DataFrame
Columns: [age, อุตุุนิยมวิทยา]
Index: []

**1.4.4ภาคตะวันตกแบ่งตามการท่องเที่ยว**

In [ ]:
Regiond_4 = data_clean[data_clean['การท่องเที่ยว']== 'ตะวันตก']
Regiond_4.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regiond_4= Regiond_3[['age','การท่องเที่ยว']] 
age_Regiond_4.iloc[:1,:]

Empty DataFrame
Columns: [age, การท่องเที่ยว]
Index: []

##**1.5ภาคตะวันออกเฉียงเหนือ**

**1.5.1ภาคตะวันตกแบ่งตามการภูมิศาสตร์**

In [ ]:
Regione_1 = data_clean[data_clean['ภูมิศาสตร์']== 'ตะวันออกเฉียงเหนือ']
Regione_1.head(3)

      No.   sex  ...      อุตุุนิยมวิทยา       การท่องเที่ยว
0   973.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
1  1864.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
2  6493.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ

[3 rows x 13 columns]

In [ ]:
age_Regione_1 = Regione_1[['age','ภูมิศาสตร์']] 
age_Regione_1.iloc[:1,:]

    age          ภูมิศาสตร์
0  48.0  ตะวันออกเฉียงเหนือ

**1.5.2ภาคตะวันตกแบ่งตามการเมือง**

In [ ]:
Regione_2 = data_clean[data_clean['การเมือง']== 'ตะวันออกเฉียงเหนือ']
Regione_2.head(3)

      No.   sex  ...      อุตุุนิยมวิทยา       การท่องเที่ยว
0   973.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
1  1864.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
2  6493.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ

[3 rows x 13 columns]

In [ ]:
age_Regione_2 = Regione_2[['age','การเมือง']] 
age_Regione_2.iloc[:1,:]

    age            การเมือง
0  48.0  ตะวันออกเฉียงเหนือ

**1.5.3ภาคตะวันตกแบ่งตามอุตุุนิยมวิทยา**

In [ ]:
Regione_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'ตะวันออกเฉียงเหนือ']
Regione_3.head(3)

      No.   sex  ...      อุตุุนิยมวิทยา       การท่องเที่ยว
0   973.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
1  1864.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
2  6493.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ

[3 rows x 13 columns]

In [ ]:
age_Regione_3 = Regione_3[['age','การเมือง']] 
age_Regione_3.iloc[:1,:]

    age            การเมือง
0  48.0  ตะวันออกเฉียงเหนือ

**1.5.4ภาคตะวันตกแบ่งตามการท่องเที่ยว**

In [ ]:
Regione_4 = data_clean[data_clean['การท่องเที่ยว']== 'ตะวันออกเฉียงเหนือ']
Regione_4.head(3)

      No.   sex  ...      อุตุุนิยมวิทยา       การท่องเที่ยว
0   973.0   ชาย  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
1  1864.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ
2  6493.0  หญิง  ...  ตะวันออกเฉียงเหนือ  ตะวันออกเฉียงเหนือ

[3 rows x 13 columns]

In [ ]:
age_Regione_4 = Regione_4[['age','การท่องเที่ยว']] 
age_Regione_4.iloc[:1,:]

    age       การท่องเที่ยว
0  48.0  ตะวันออกเฉียงเหนือ

##**1.6ภาคใต้**

**1.6.1ภาคใต้แบ่งตามภูมิศาสตร์**

In [ ]:
Regionf_1 = data_clean[data_clean['ภูมิศาสตร์']== 'ใต้']
Regionf_1.head(3)

           No.   sex  ...                  อุตุุนิยมวิทยา การท่องเที่ยว
632624  1530.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
632625  2256.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
632626  2462.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้

[3 rows x 13 columns]

In [ ]:
age_Regionf_1 = Regionf_1[['age','ภูมิศาสตร์']] 
age_Regionf_1.iloc[:1,:]

         age ภูมิศาสตร์
632624  21.0        ใต้

**1.6.2ภาคใต้แบ่งตามการเมือง**

In [ ]:
Regionf_2 = data_clean[data_clean['การเมือง']== 'ใต้']
Regionf_2.head(3)

           No.   sex  ...                  อุตุุนิยมวิทยา การท่องเที่ยว
632624  1530.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
632625  2256.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
632626  2462.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้

[3 rows x 13 columns]

In [ ]:
age_Regionf_2 = Regionf_2[['age','การเมือง']] 
age_Regionf_2.iloc[:1,:]

         age การเมือง
632624  21.0      ใต้

**1.6.3ภาคใต้แบ่งตามอุตุนิยมวิทยา**

In [ ]:
Regionf_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'ใต้']
Regionf_3.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regionf_3 = Regionf_3[['age','อุตุุนิยมวิทยา']] 
age_Regionf_3.iloc[:1,:]

Empty DataFrame
Columns: [age, อุตุุนิยมวิทยา]
Index: []

**1.6.4ภาคใต้แบ่งตามการท่องเที่ยว**

In [ ]:
Regionf_4 = data_clean[data_clean['การท่องเที่ยว']== 'ใต้']
Regionf_4.head(3)

           No.   sex  ...                  อุตุุนิยมวิทยา การท่องเที่ยว
632624  1530.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
632625  2256.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้
632626  2462.0  หญิง  ...  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย           ใต้

[3 rows x 13 columns]

In [ ]:
age_Regionf_4 = Regionf_4[['age','การท่องเที่ยว']] 
age_Regionf_4.iloc[:1,:]

         age การท่องเที่ยว
632624  21.0           ใต้

##**1.7ภาคใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย**

**1.7.1ภาคใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทยแบ่งตามภูมิศาสตร์**

In [ ]:
Regiong_1 = data_clean[data_clean['ภูมิศาสตร์']== 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
Regiong_1.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regiong_1 = Regiong_1[['age','ภูมิศาสตร์']] 
age_Regiong_1.iloc[:1,:]

Empty DataFrame
Columns: [age, ภูมิศาสตร์]
Index: []

**1.7.2ภาคใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทยแบ่งตามการเมือง**

In [ ]:
Regiong_2 = data_clean[data_clean['การเมือง']== 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
Regiong_2.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regiong_2 = Regiong_1[['age','การเมือง']] 
age_Regiong_2.iloc[:1,:]

Empty DataFrame
Columns: [age, การเมือง]
Index: []

**1.7.3ภาคใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทยแบ่งตามอุตุนิยมวิทยา**

In [ ]:
Regiong_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
Regiong_3.head(3).dropna()
Regiong_3_1 = Regiong_3.head(3).dropna()
Regiong_3_1

         No.   sex   age  ... การเมือง                  อุตุุนิยมวิทยา การท่องเที่ยว
628355   8.0  หญิง  73.0  ...     กลาง  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย          กลาง
628356  23.0   ชาย  45.0  ...     กลาง  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย          กลาง

[2 rows x 13 columns]

In [ ]:
age_Regiong_3_1 = Regiong_3_1[['age','อุตุุนิยมวิทยา']] 
age_Regiong_3_1.iloc[:1,:]

         age                  อุตุุนิยมวิทยา
628355  73.0  ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย

**1.7.4ภาคใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทยแบ่งตามการท่องเที่ยว**

In [ ]:
Regiong_4 = data_clean[data_clean['การท่องเที่ยว']== 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
Regiong_4.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regiong_4 = Regiong_4[['age','การท่องเที่ยว']] 
age_Regiong_4.iloc[:1,:]

Empty DataFrame
Columns: [age, การท่องเที่ยว]
Index: []

##**1.8ภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน**

**1.8.1ภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามันแบ่งตามภูมิศาสตร์**

In [ ]:
Regionh_1 = data_clean[data_clean['ภูมิศาสตร์']== 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
Regionh_1.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regionh_1 = Regionh_1[['age','ภูมิศาสตร์']] 
age_Regionh_1.iloc[:1,:]

Empty DataFrame
Columns: [age, ภูมิศาสตร์]
Index: []

**1.8.2ภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามันแบ่งตามการเมือง**

In [ ]:
Regionh_2 = data_clean[data_clean['การเมือง']== 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
Regionh_2.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regionh_2 = Regionh_2[['age','การเมือง']] 
age_Regionh_2.iloc[:1,:]

Empty DataFrame
Columns: [age, การเมือง]
Index: []

**1.8.3ภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามันแบ่งตามอุตุนิยมวิทยา**

In [ ]:
Regionh_3 = data_clean[data_clean['อุตุุนิยมวิทยา']== 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
Regionh_3.head(3)

          No.   sex  ...                  อุตุุนิยมวิทยา การท่องเที่ยว
688002   24.0  หญิง  ...  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
688003  387.0   ชาย  ...  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้
688004  501.0  หญิง  ...  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน           ใต้

[3 rows x 13 columns]

In [ ]:
age_Regionh_3 = Regionh_3[['age','อุตุุนิยมวิทยา']] 
age_Regionh_3.iloc[:1,:]

         age                  อุตุุนิยมวิทยา
688002  31.0  ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน

**1.8.4ภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามันแบ่งตามการท่องเที่ยว**

In [ ]:
Regionh_4 = data_clean[data_clean['การท่องเที่ยว']== 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
Regionh_4.head(3)

Empty DataFrame
Columns: [No., sex, age, nationality, announce_date, province_of_isolation, province_of_onset, risk, จังหวัด, ภูมิศาสตร์, การเมือง, อุตุุนิยมวิทยา, การท่องเที่ยว]
Index: []

In [ ]:
age_Regionh_4 = Regionh_4[['age','การท่องเที่ยว']] 
age_Regionh_4.iloc[:1,:]

Empty DataFrame
Columns: [age, การท่องเที่ยว]
Index: []

# 2. เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

**แบ่งตาม 6 ภูมิภาค(ภูมิศาสตร์)**

In [ ]:
g = data_clean.groupby('ภูมิศาสตร์')
g.count()[['No.']]

                       No.
ภูมิศาสตร์
กลาง                461853
ตะวันตก              24445
ตะวันออก             83571
ตะวันออกเฉียงเหนือ   37882
เหนือ                24869
ใต้                  65794

**สรุป การแบ่งภาคตาม 6 ภูมิภาค (ภูมิศาสตร์) ภาคกลางมีจำนวนผู้ป่วยมากที่สุด จำนวน 461,853 คน ภาคเหนือมีจำนวนผู้ป่วยน้อยที่สุด จำนวน 24,869 คน**

**แบ่งตาม 4 ภูมิภาค (การเมือง)**

In [ ]:
g1 = data_clean.groupby('การเมือง')
g1.count()[['No.']]

                       No.
การเมือง
กลาง                558627
ตะวันออกเฉียงเหนือ   37882
เหนือ                36111
ใต้                  65794

**สรุป แบ่งตาม 4 ภูมิภาค (การเมือง) ภาคกลางมีจำนวนผู้ป่วยมากที่สุด จำนวน 558,627 คน ภาคเหนือมีจำนวนผู้ป่วยน้อยที่สุด จำนวน 36,111 คน**

**แบ่งตาม 6 ภูมิภาค (อุตุนิยมวิทยา)**

In [ ]:
g2 = data_clean.groupby('อุตุุนิยมวิทยา')
g2.count()[['No.']]

                                   No.
อุตุุนิยมวิทยา
กลาง                            468171
ตะวันออก                         87875
ตะวันออกเฉียงเหนือ               37882
เหนือ                            34423
ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน   10416
ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย   59647

**สรุป แบ่งตาม 6 ภูมิภาค (อุตุนิยมวิทยา) ภาคกลางมีจำนวนผู้ป่วยมากที่สุด จำนวน 468,171 คน ภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามันมีจำนวนผู้ป่วยน้อยที่สุด จำนวน 10,416 คน**

**แบ่งตาม 5 ภูมิภาค (การท่องเที่ยว)**

In [ ]:
g3 = data_clean.groupby('การท่องเที่ยว')
g3.count()[['No.']]

                       No.
การท่องเที่ยว
กลาง                475056
ตะวันออก             83571
ตะวันออกเฉียงเหนือ   37882
เหนือ                36111
ใต้                  65794

**สรุป แบ่งตาม 5 ภูมิภาค (การท่องเที่ยว) ภาคกลางมีจำนวนผู้ป่วยมากที่สุด จำนวน 475,056 คน ภาคเหนือมีจำนวนผู้ป่วยน้อยที่สุด จำนวน 36,111 คน**

# 3. แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

**แบ่งตาม 6 ภูมิภาค(ภูมิศาสตร์)**

In [ ]:
df = data_clean

In [ ]:
set(df['ภูมิศาสตร์'])

{'กลาง', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [ ]:
df[df['ภูมิศาสตร์']=='กลาง'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max()#คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคกลาง

In [ ]:
df[df['ภูมิศาสตร์']=='ตะวันตก'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันตก

In [ ]:
df[df['ภูมิศาสตร์']=='ตะวันออก'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออก

In [ ]:
df[df['ภูมิศาสตร์']=='ตะวันออกเฉียงเหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออกเฉียงเหนือ

In [ ]:
df[df['ภูมิศาสตร์']=='เหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคเหนือ

In [ ]:
df[df['ภูมิศาสตร์']=='ใต้'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคใต้

**แบ่งตาม 4 ภูมิภาค(การเมือง)**

In [ ]:
set(df['การเมือง'])

{'กลาง', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [ ]:
df[df['การเมือง']=='กลาง'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคกลาง

In [ ]:
df[df['การเมือง']=='ตะวันออกเฉียงเหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออกเฉียงเหนือ

In [ ]:
df[df['การเมือง']=='เหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคเหนือ

In [ ]:
df[df['การเมือง']=='ใต้'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคใต้

**แบ่งตาม 6 ภูมิภาค(อุตุนิยมวิทยา)**

In [ ]:
set(df['อุตุุนิยมวิทยา'])

{'กลาง',
 'ตะวันออก',
 'ตะวันออกเฉียงเหนือ',
 'เหนือ',
 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน',
 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'}

In [ ]:
df[df['อุตุุนิยมวิทยา']=='กลาง'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคกลาง

In [ ]:
df[df['อุตุุนิยมวิทยา']=='ตะวันออก'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออก

In [ ]:
df[df['อุตุุนิยมวิทยา']=='ตะวันออกเฉียงเหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออกเฉียงเหนือ

In [ ]:
df[df['อุตุุนิยมวิทยา']=='เหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคเหนือ

In [ ]:
df[df['อุตุุนิยมวิทยา']=='ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน

In [ ]:
df[df['อุตุุนิยมวิทยา']=='ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย

**แบ่งตาม 5 ภูมิภาค(การท่องเที่ยว)**

In [ ]:
set(df['การท่องเที่ยว'])

{'กลาง', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [ ]:
df[df['การท่องเที่ยว']=='กลาง'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคกลาง

In [ ]:
df[df['การท่องเที่ยว']=='ตะวันออก'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออก

In [ ]:
df[df['การท่องเที่ยว']=='ตะวันออกเฉียงเหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคตะวันออกเฉียงเหนือ

In [ ]:
df[df['การท่องเที่ยว']=='เหนือ'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคเหนือ

In [ ]:
df[df['การท่องเที่ยว']=='ใต้'].groupby(['risk']).count().sort_values('No.',ascending=False).head(5)[['No.']].style.highlight_max() #คลัสเตอร์ที่ซ้ำกันมากที่สุดของภาคใต้

# 4. สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัด (province of onset) (20 คะแนน)

In [ ]:
age_m = df.groupby('province_of_onset')[['age']].mean()     # จัดกลุ่มข้อมูลด้วย 'province_of_onset' แล้วหาค่าเฉลี่ยของ age 
age_m

                         age
province_of_onset
กระบี่             31.425264
กรุงเทพมหานคร      37.223021
กาญจนบุรี          34.910483
กาฬสินธุ์          34.719422
ขอนแก่น            34.320086
...                      ...
เชียงราย           35.281735
เชียงใหม่          32.518955
เลย                35.496899
แพร่               34.867666
แม่ฮ่องสอน         27.265667

[73 rows x 1 columns]

In [ ]:
age_m.sort_values('age',ascending=False)     # เรียงอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัดจากมากไปน้อย

                         age
province_of_onset
สมุทรสงคราม        38.522215
สิงห์บุรี          37.907083
ยโสธร              37.333056
นนทบุรี            37.279985
กรุงเทพมหานคร      37.223021
...                      ...
นครพนม             32.465231
สตูล               31.957006
กระบี่             31.425264
สระแก้ว            30.962311
แม่ฮ่องสอน         27.265667

[73 rows x 1 columns]

# 5. สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละภูมิภาค (20 คะแนน)

**แบ่งตาม ภูมิศาสตร์**

In [ ]:
age_a = df.groupby('ภูมิศาสตร์')[['age']].mean().style.highlight_max()    # จัดกลุ่มข้อมูลด้วย 'ภูมิศาสตร์' แล้วหาค่าเฉลี่ยของ age  สีเหลืองคือ อายุเฉลี่ยมากสุด ในภูมิภาคนั้น
age_a

**แบ่งตาม การเมือง**

In [ ]:
age_b = df.groupby('การเมือง')[['age']].mean().style.highlight_max()    # จัดกลุ่มข้อมูลด้วย 'การเมือง' แล้วหาค่าเฉลี่ยของ age  
age_b

**แบ่งตาม อุตุนิยมวิทยา**

In [ ]:
age_c = df.groupby('อุตุุนิยมวิทยา')[['age']].mean().style.highlight_max()    # จัดกลุ่มข้อมูลด้วย 'อุตุุนิยมวิทยา' แล้วหาค่าเฉลี่ยของ age  
age_c

**แบ่งตาม การท่องเที่ยว**

In [ ]:
age_d = df.groupby('การท่องเที่ยว')[['age']].mean().style.highlight_max()    # จัดกลุ่มข้อมูลด้วย 'การท่องเที่ยว' แล้วหาค่าเฉลี่ยของ age  
age_d

**——————✧◦♚◦✧——————⋆——————✧◦♚◦✧——————⋆จบ——————✧◦♚◦✧——————⋆——————✧◦♚◦✧——————⋆**